.meals{
  /* list-style-type: none; */
  width: 80%;
  margin: 2rem auto;
  border-radius: 15px;
  animation: meals-appear 1s ease-out forwards;
}
.meals ul{
  list-style-type: none;
}
@keyframes meals-appear{
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}