.meal {
  margin: 1rem 0.25rem;
  border-bottom: 1px solid rgb(209, 205, 205);
  display: flex;
  justify-content: space-between;
}

.meal h3 {
  margin: 0;
}

.name {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.description {
  font-style: italic;
  color: rgb(66, 65, 65);
}

.price {
  font-weight: bold;
  color: rgb(161, 31, 8);
  margin-bottom: 0.75rem;
}